{% extends 'base.html.twig' %}

{% block title %}New Abonnement{% endblock %}

{% block body %}
    <h1>Nouveau Abonnement</h1>

    {{ include('abonnement/_form.html.twig') }}

    <a class="btn btn-outline-info" href="{{ path('app_abonnement_index') }}">Retour</a>
{% endblock %}
